<div class="center">
  <h2>This is a story of about how...</h2>

  <h3>A long long time ago, in some places far far away (and close)</h3>
  <img class="image-right image-thumbnail" src="https://karber-dev.azureedge.net/our-story/onja-was-single.jpg">
  <img class="image-left image-thumbnail" src="https://karber-dev.azureedge.net/our-story/bill-was-single.jpg">
  <p>
  Onja and Bill have lived in a variety of places before finally landing in DFW. Onja was born in Texas before moving to Alabama, Mississippi, Washington, and (most importantly) Georgia. Of course she eventually found her way back to Texas. Bill was born in Connecticut, moved to Texas, then Iowa, then spent some time in Washington while wanting to live back in Texas. Despite some coincidental timing and close calls, they managed to avoid meeting each other for 31 years. Then they found Hinge. 
  </p>
  <h3>A Match made in Dallas</h3>
  <img class="image-left image-thumbnail" src="https://karber-dev.azureedge.net/our-story/walk-with-puppies.jpg">
  <p>
    After matching and striking up some truly riveting conversations on topics ranging from "I don't remember" to "Wanna grab a beer at the dog park?", the pair eventually settled on a trip to Mutts with their furry pals Seamus & Kara. After realizing that the dog park was slightly less than open, the two decided on a venue change. That brought them to The Gingerman where the pair sat down and bonded over great beer and better conversation. It was from that first date that a romance was kindled.
  </p>
  <h3></h3>
  <img class="image-right image-thumbnail" src="https://karber-dev.azureedge.net/our-story/first-halloween.jpg">
  <p>
    As Onja and Bill grew together they enjoyed a wide range of fun activities. For their first Halloween they went all out on a killer set of wheels for their Wreck It Ralph costume (which helped foster an ongoing love affair with glitter for someone who will remain anonymous. Hint: he also loves sprinkles). From there, they ventured out into a variety of activities, many of which centered around friends and being active, and ideally being active with friends. There were fun runs, a half marathon (Onja did two), tough mudders (yes plural), a crawl for cancer, and a trip to the state fair amongst a wide variety of other activities.
  </p>
  <h3></h3>
  <img class="image-left image-thumbnail" src="https://karber-dev.azureedge.net/our-story/sometimes-we-watch-the-game.jpg">
  <p>
    They each impacted each other in interesting ways. Onja got Bill into art museums (plural), and Bill took Onja to see sporting evetns (that weren't baseball). They also kept active together doing things like playing kickball, volleyball and working out at Camp Gladiator. Onja and Bill challenged each other in new and interesting ways. Together they realized that they could handle whatever life threw at them. 
  </p>

  <h3>The adventure of a lifetime</h3>
  <img class="image-right image-thumbnail" src="https://karber-dev.azureedge.net/our-story/before-and-after.jpg">
  <p>If life in Dallas wasn't fun enough, Onja and Bill have taken the show on the road for even more adventure. It started with a trip to Ireland, where Onja met much of Bill's extended family. Some might advise against pairing a couple's first trip abroad with meeting a partner's extended family for the first time. Bill and Onja seized on the opportunity for adventure. From icing, to punch-castle the dynamic duo traveled the countryside visiting some of Ireland's great sights. Also Onja and Bill are now certified Jameson whiskey experts, and at pouring the perfect pint of Guinness.</p>

  <h3>Ready Player Two</h3>
  <img class="image-left image-thumbnail" src="https://karber-dev.azureedge.net/our-story/onja-streamers.jpg">
  <p>Eventually Onja and Bill came to the logical conclusion that life is a game, and it's better as a co-op. After weeks of Rehersal, Bill mustered the nerve to ask for Onja's hand in Karaoke. The terrific team threw down a classic jam from Frozen reminding friends in attendance that Love Is An Open Door. Bill dropped to a knee, Onja said yes (eventually), and streamers flew. These two have proven that they have the skills to take life on together, and thank you for taking the time to get to know why.</p>

  <h3>I didn't know I wanted a brother</h3>
  <p>Onja and Bill couldn't tell you their story without giving some prime real estate to Kara & Seamus. After a bit of a feeling-out period, the two have grown seperable from each other. Sometimes they cuddle though. Kara won't admit it. Even if Seamus brags about it at the dog park.</p>

  <img class="image-puppies" src="https://karber-dev.azureedge.net/our-story/puppies/puppies-locked-in.jpg">
  <img class="image-puppies" src="https://karber-dev.azureedge.net/our-story/puppies/kara.jpg">
  <img class="image-puppies" src="https://karber-dev.azureedge.net/our-story/puppies/you-has-our-attention.jpg">
  <img class="image-puppies" src="https://karber-dev.azureedge.net/our-story/puppies/seamus.jpg">
  <img class="image-puppies" src="https://karber-dev.azureedge.net/our-story/puppies/lakeside-patrol.jpg">


  <br />

  <h1>Happily Forever After</h1>

  <img class="image-closer" src="https://karber-dev.azureedge.net/our-story/engagement/IMG_6769.jpg">

</div>
