
<div class="center">
  <h2>Registry</h2>

  <p>Thank You for your generosity! We are registered at the following locations:</p>

  <ul>
      <li>
        <h3>Amazon</h3> 
        <p><a href="https://www.amazon.com/wedding/home">amazon.com</a></p> </li>
      <li>
          <h3>Bed Bath & Beyond</h3> 
          <p><a href="https://www.bedbathandbeyond.com/store/page/Registry">bedbathandbeyond.com</a></p>
      </li>
      <li>
        <h3>Honeyfund</h3>
        <p><a href="https://www.honeyfund.com/GiveAGift">honeyfund.com</a></p>
      </li>
    </ul>
</div>
