
<div class="item-card border-black-rounded center">
  <h2>Registry</h2>

  <p>Thank You for your generosity! We are registered at the following locations:</p>

  <table>
    <tr>
      <td><h3>Honeyfund</h3></td>
      <td><a href="https://www.honeyfund.com/wedding/banjoWedding2019">honeyfund.com</a></td>
    </tr>
    <tr>
      <td><h3>Amazon</h3></td>
      <td><a href="https://www.amazon.com/wedding/bill-meehan-onja-price-dallas-march-2019/registry/1H51QMDFUY3YM">amazon.com</a></td>
    </tr>
    <tr>
      <td><h3>Bed Bath & Beyond</h3></td>
      <td><a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=546496068&eventType=Wedding">bedbathandbeyond.com</a></td>
    </tr>
  </table>
</div>
