
<div class="center">
  <h2>Registry</h2>

  <p>Thank You for your generosity! We are registered at the following locations:</p>

  <ul>
      <li>
        <h3>Honeyfund</h3>
        <p><a href="https://www.honeyfund.com/wedding/banjoWedding2019">honeyfund.com</a></p>
      </li>
      <li>
        <h3>Amazon</h3> 
        <p><a href="https://www.amazon.com/wedding/bill-meehan-onja-price-dallas-march-2019/registry/1H51QMDFUY3YM">amazon.com</a></p> </li>
      <li>
        <h3>Bed Bath & Beyond</h3> 
        <p><a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=546496068&eventType=Wedding">bedbathandbeyond.com</a></p>
      </li>
    </ul>
</div>
