<div class="item-card border-black-rounded center">
  <h2>RSVP</h2>

  <div *ngIf="currentStage === rsvpStages.Search"
    (keyup.enter)="searchForInvitation(guestQuery)">
      <p>Please locate your invitation using your last name and zipcode.</p>
      <p>(if we mailed it to you)*</p>
    
    
      <input [(ngModel)]="guestQuery.LastName" type="text" placeholder="Last Name">
      <input [(ngModel)]="guestQuery.ZipCode" type="text" placeholder="Zipcode" maxlength="5">
      <br/>
    
      <div *ngIf="guestSearchMessage != null">
        {{guestSearchMessage}}
        <br/>
      </div>
    
      <input (click)="searchForInvitation(guestQuery,'click')" (touchend)="searchForInvitation(guestQuery,'touch')" type="button" value="Search" />
      <br/>

      <div>*Although we love your little ones, this is an adult only affair</div>
  </div>

  <div *ngIf="currentStage === rsvpStages.Select">
    <div style="display: block;height: 3em;">
      <div style="display: inline-block; width:90%;">
        <div style="display:block;">Here's some possible matches for your invitation, please click on your response</div>
      </div>
      <i (click)="clearSearchResults()" style="float: right;margin-right: 1em;" class="fas fa-times"></i>
    </div>
    <ul style="display:block;">
      <li *ngFor="let match of possibleMatches">
        <div (click)="setMatchedResult(match, 'click')" (click)="setMatchedResult(match, 'touch')" >
            <div style="display:inline-block;">{{match.name}}</div>
            <div style="display:inline-block;" *ngIf="match.partner != null && match.partner !== ''"> & {{match.partner}}</div>
            <div style="display:block" >{{match.address}}</div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="currentStage === rsvpStages.ShowResponse">
    <h3>Current Response</h3>
    <i (click)="clearMatchedResult()" style="float: right;margin-right: 1em;" class="fas fa-times cancel-button"></i>
    <div *ngIf="matchedResult.confirmedGuests > 0" class="confirmed-guests-banner">
        <i class="far fa-check-circle" ></i>
        <h3 >{{matchedResult.confirmedGuests}} Guest{{matchedResult.confirmedGuests > 1 ? 's' : ''}} Confirmed</h3>
      </div>
    <div *ngIf="matchedResult.confirmedGuests === 0" class="declined-guests-banner">
        <i class="far fa-times-circle"></i>
        <h3 >Unable to Attend</h3>
    </div>
    <div style="display:block;height:2em;">
        <div style="display:inline-block;">{{matchedResult.name}}</div>
        <div style="display:inline-block;" *ngIf="matchedResult.partner !== null && matchedResult.partner !== ''"> & {{matchedResult.partner}}</div>
    </div>
    <input (click)="showResponseEdit(matchedResult, 'click')" (touchend)="showResponseEdit(matchedResult, 'touch')" type="button" value="Update Response" />
  </div>
  
  <div *ngIf="currentStage === rsvpStages.Respond">
    <div style="display:block;height:2em;">
        <div style="display:inline-block;">{{matchedResult.name}}</div>
        <div style="display:inline-block;" *ngIf="matchedResult.partner !== null && matchedResult.partner !== ''"> & {{matchedResult.partner}}</div>
        <i (click)="clearMatchedResult()" style="float: right;margin-right: 1em;" class="fas fa-times"></i>
    </div>
    <div *ngIf="matchedResult.totalGuestsAllowed == 2">
      Please verify your name and your guest's name (if you plan to bring one) for the table cards.
    </div>
    <div *ngIf="matchedResult.totalGuestsAllowed == 1">
      Please verify your name for the table cards.
    </div>
    <div *ngIf="matchedResult.totalGuestsAllowed > 2">
      Please verify your name and your guest's name for the table cards. We are aware of the additional guests and will reach out to you to verify.
    </div>

    <input [(ngModel)]="matchedResult.name" type="text" placeholder="Guest Name" 
      (keyup.enter)="confirmInvitation(matchedResult)">
    <input [(ngModel)]="matchedResult.partner" type="text" placeholder="Guest Partner" 
      (keyup.enter)="confirmInvitation(matchedResult)" *ngIf="matchedResult.totalGuestsAllowed > 1">

    <br/>
    <div *ngIf="guestValidationMessage != null">
      {{guestValidationMessage}}
      <br/>
    </div>
    <input (click)="confirmInvitation(matchedResult, 'click')" 
            (touchend)="confirmInvitation(matchedResult, 'touch')" type="button" value="Confirm"/>
    <input (click)="declineInvitation(matchedResult, 'click')" 
            (touchend)="declineInvitation(matchedResult, 'touch')" type="button" value="Regretfully Decline" />

    <br/>

    <div>*Although we love your little ones, this is an adult only affair</div>
  </div>

  <div *ngIf="currentStage === rsvpStages.Confirm">
    <h3>Thank you for confirming your rsvp! We look forward to celebrating with you on our big day.</h3>
    <br />
    <input (click)="reactivateSearch()" value="Continue" type="button" />
  </div>

  <div *ngIf="currentStage === rsvpStages.Decline">
    <h3>Thank you for taking the time to respond, and we are sorry that you are unable to attend.</h3>
    <br />
    <input (click)="reactivateSearch()" value="Continue" type="button" />
  </div>

</div>
