<div class="item-card border-black-rounded center">
  <h2>RSVP</h2>

  <div *ngIf="possibleMatches === null && matchedResult === null">
      <p>Please locate your invitation using your last name and zipcode.</p>
      <p>(if we mailed it to you)</p>
    
    
      <input [(ngModel)]="guestQuery.LastName" type="text" placeholder="Last Name">
      <input [(ngModel)]="guestQuery.ZipCode" type="text" placeholder="Zipcode" maxlength="5">
    
      <br/>
    
      <button (click)="searchForInvitation(guestQuery)">Search</button>
  </div>

  <div *ngIf="possibleMatches!=null">
    <div style="display: block;height: 2em;">
      <div style="display: inline;">Here's some possible matches for your invitation, please click on your response </div>
      <i (click)="clearSearchResults()" style="float: right;margin-right: 1em;" class="fas fa-times"></i>
    </div>
    <ul style="display:block;">
      <li *ngFor="let match of possibleMatches">
        <div (click)="setMatchedResult(match)" >
            <div style="display:inline-block;">{{match.name}}</div>
            <div style="display:inline-block;" *ngIf="match.partner != null"> & {{match.partner}}</div>
        </div>
      </li>
    </ul>
  </div>
  
  <div *ngIf="matchedResult != null">
    <div style="display:block;height:2em;">
        <div style="display:inline-block;">{{matchedResult.name}}</div>
        <div style="display:inline-block;" *ngIf="matchedResult.partner != null"> & {{matchedResult.partner}}</div>
        <i (click)="clearMatchedResult()" style="float: right;margin-right: 1em;" class="fas fa-times"></i>
    </div>
    <div>
      Please Enter the Number of guests that will be attending
    </div>

    <input [(ngModel)]="matchedResult.confirmedGuests" (change)="validateGuest(matchedResult)" type="number" min=0 max="10">
    <br/>
    <div *ngIf="guestValidationMessage != null">
      {{guestValidationMessage}}
      <br/>
    </div>
    <button (click)="confirmInvitation(matchedResult)"> Confirm </button>
    <button (click)="declineInvitation(matchedResult)"> Regretfully Decline </button>

  </div>

</div>
