

<nav class="navbar is-transparent primary-color">
  <div class="navbar-menu is-active primary-color">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-small primary-color" routerLink="dashboard">home</a>
          </p>
          <p class="control ">
            <a class="button is-small primary-color" routerLink="venue">venue</a>
          </p>
          <p class="control">
              <a class="button is-small primary-color" routerLink="wedding-party">party</a>
            </p>
          <p class="control">
            <a class="button is-small primary-color" routerLink="our-story">our story</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</nav>

<div class="center">
  <h1>Bill & Onja's</h1>
  <h1>Wedding</h1>
</div>

<div style="padding-bottom:10px;"></div>
