<div class="center">
  <h2>Accomodations</h2>

  <p>In order to help coordinate your stay, we have reserved a block of rooms at the following location</p>

  <h3>The Magnolia</h3>
  <p><a href="https://book.passkey.com/e/49822169">Book Online</a></p>

  <h3>Address:</h3>
  <p>6070 N Central Expy</p>
  <p>Dallas, TX 75206</p> 
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53653.09129446105!2d-96.82225467484868!3d32.81033276564198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x432d87dc7004f55a!2sMagnolia+Hotel+Dallas+Park+Cities!5e0!3m2!1sen!2sus!4v1543178817304" 
    class="google-map-iframe" frameborder="0" allowfullscreen></iframe>

</div>
