<div class="center">

  <h2>
    Venue Details:
  </h2>
  
  <p>We are pleased to announce that we have found a venue!</p>

  <div style="padding:5px;"></div>

  <div class="readable">
      
          <h2>Date: 3/30/2019</h2>
          <h3>Time: 5:00 PM</h3>
          <h3>Location: Winfrey Point</h3>
      
  </div>
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.484271783436!2d-96.71558868514352!3d32.832427280955294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ea198050dcdb9%3A0x6411951981d6b84e!2sWinfrey+Point!5e0!3m2!1sen!2sus!4v1522388211545" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  <h3>Address:</h3>
  <p>Winfrey Point</p>
  <p>950 E. Lawther</p>
  <p>Dallas, TX 75218</p> 
</div>